---
// src/components/PetrykivkaMap.astro
//
// Контури побудовані з реальних географічних даних Natural Earth
// (суспільне надбання, CC0) через world-atlas / d3-geo, Mercator-проєкція.
// Крим намальований як частина України (територія України за міжнародним
// правом), а не як окупована територія — у вихідному датасеті Крим
// хибно прикріплений до полігону росії, тому геометрію півострова було
// вручну перенесено сюди.
interface Props {
  locale: 'uk' | 'en';
}
const { locale } = Astro.props;

const t = locale === 'uk'
  ? { ua: 'Україна', kyiv: 'Київ', dnipro: 'Дніпро', petrykivka: 'Петриківка' }
  : { ua: 'Ukraine', kyiv: 'Kyiv', dnipro: 'Dnipro', petrykivka: 'Petrykivka' };
---

<div class="petrykivka-map">
  <svg viewBox="186 206 450 314" xmlns="http://www.w3.org/2000/svg" role="img" aria-label={`${t.petrykivka}, ${t.ua}`}>
    <path class="country country--ua" d="M572.391,411.307L571.571,411.655L563.62,411.133L562.145,411.307L557.144,411.888L552.554,417.162L549.767,417.104L545.832,418.492L543.209,420.168L540.094,423.862L537.717,422.247L534.766,422.247L531.815,423.285L528.372,425.706L526.405,426.166L522.552,425.475L518.044,426.857L508.371,434.897L505.092,440.732L503.863,441.874L502.223,443.3L500.502,444.042L499.6,443.985L504.191,439.818L505.584,438.274L505.83,437.13L505.912,435.241L504.518,432.948L500.666,438.675L498.534,439.475L495.829,441.189L495.665,445.011L495.993,447.857L497.141,451.438L499.272,456.144L498.043,456.314L494.682,454.275L494.518,450.984L492.141,448.199L488.37,448.199L486.731,448.54L484.517,445.409L481.566,444.099L479.353,444.498L477.058,443.928L472.058,440.618L468.697,440.218L468.615,442.616L467.221,444.27L465.09,444.84L463.451,445.58L459.68,443.3L458.286,441.646L452.384,443.357L449.106,443.129L441.81,444.726L438.449,443.186L431.727,438.846L429.268,437.989L427.055,438.16L425.908,436.787L427.383,436.043L429.022,435.985L430.744,435.47L431.236,434.725L431.154,433.292L427.629,432.202L424.432,431.915L422.383,430.652L420.825,429.158L424.432,429.158L428.121,430.25L433.941,430.652L439.187,431.8L440.498,430.365L443.531,427.95L444.105,427.145L439.023,428.813L433.859,427.778L431.973,426.281L430.334,424.035L429.678,421.554L430.088,419.186L429.596,414.961L427.875,411.191L427.219,409.1L425.416,407.238L427.219,411.481L427.875,414.266L428.94,416.814L428.695,423.631L428.039,425.994L425.908,426.627L423.12,426.281L420.251,425.533L420.989,421.785L419.514,423.054L417.3,426.742L415.415,427.26L411.317,426.857L403.529,429.273L402.955,431.858L401.808,435.413L400.66,437.474L400.332,438.675L397.053,443.985L396.644,444.498L390.414,451.779L389.594,452.346L385.577,454.048L383.118,455.521L381.315,456.201L378.2,455.465L376.97,456.541L376.315,457.843L376.315,460.5L377.872,462.42L379.184,468.842L378.692,471.54L377.462,469.798L375.577,467.942L371.806,466.366L367.708,466.929L363.281,469.573L360.248,470.585L358.609,469.91L357.625,469.91L357.297,470.697L357.379,471.315L357.871,471.82L357.789,472.157L357.215,472.382L350.166,470.472L347.051,468.73L344.673,465.352L345.903,464.281L346.887,463.83L350.575,463.548L351.231,463.21L351.313,462.42L351.559,461.404L351.477,459.935L351.067,458.352L352.625,456.088L355.084,454.161L356.477,452.289L356.641,449.506L359.182,448.142L361.396,445.808L361.97,443.243L362.789,441.646L361.314,437.989L361.068,435.527L360.986,433.464L361.642,432.374L363.773,431.054L365.986,430.077L366.888,430.192L367.216,430.824L367.298,434.954L367.708,435.069L368.445,434.553L369.593,432.087L370.331,432.776L371.56,433.062L372.462,432.431L373.036,432.489L373.773,433.12L375.249,434.037L376.642,434.324L377.79,433.751L378.692,432.661L379.757,433.062L381.725,435.928L382.626,435.584L387.135,435.012L387.873,434.209L388.364,433.521L383.692,429.675L383.938,426.857L384.102,423.573L383.528,421.612L382.626,420.053L379.02,418.261L376.233,416.409L375.659,415.54L375.577,414.498L375.413,412.758L374.347,411.307L374.265,410.088L374.921,408.169L375.167,406.132L374.921,405.317L374.265,404.618L373.036,404.56L371.314,403.394L370.249,401.76L367.216,399.482L366.232,399.073L365.658,397.962L365.412,396.557L366.068,394.859L366.888,392.22L367.462,389.753L367.462,388.283L367.052,384.633L365.494,381.86L364.757,381.506L363.445,382.273L362.052,382.923L360.904,382.333L359.592,380.797L357.461,376.598L353.526,375.71L351.969,375.532L350.412,377.546L349.92,376.954L349.51,375.651L348.69,375.118L347.624,375.71L347.297,375.177L347.788,373.398L346.477,372.508L343.444,372.567L341.886,371.915L341.641,370.548L340.739,369.716L339.017,369.3L337.378,368.17L335.739,366.444L333.361,365.312L330.164,364.776L329.919,364.597L329.591,364.299L327.541,365.491L326.312,366.444L324.754,365.848L322.295,367.992L317.295,368.111L314.836,367.932L313.606,367.456L308.934,370.608L308.442,371.796L307.376,372.211L304.425,372.805L301.31,373.695L300.655,376.776L299.671,378.492L298.032,380.916L292.212,381.742L287.211,382.982L282.129,383.689L275.407,386.694L273.194,389.283L271.063,390.047L269.096,390.223L267.866,388.754L263.603,384.868L261.964,382.982L259.833,382.451L257.456,382.746L255.16,383.689L252.783,383.866L250.16,382.51L249.832,382.687L248.849,382.864L242.127,381.27L241.553,380.975L241.225,380.916L240.323,380.797L235.323,380.975L230.651,377.782L229.175,377.664L228.11,378.965L227.29,380.443L224.011,381.86L223.191,382.451L222.7,382.037L222.536,380.738L222.782,379.675L222.29,378.61L221.06,377.427L220.732,376.954L219.175,377.013L218.765,377.131L218.601,377.131L216.47,376.065L215.076,373.635L212.863,372.33L211.223,371.915L210.486,370.905L209.994,369.479L209.42,368.408L209.338,368.349L209.01,366.742L208.518,366.563L208.436,366.503L206.223,366.801L206.469,361.195L209.994,357.188L210.814,355.091L212.125,350.65L213.109,348.605L214.256,346.859L215.158,345.232L215.486,343.785L216.47,343.604L219.175,344.931L221.634,345.594L222.372,344.931L222.618,344.086L222.536,343.483L220.568,341.551L219.339,340.342L219.257,339.616L219.667,337.922L219.912,336.044L219.667,333.982L218.273,329.425L218.027,327.477L219.339,325.099L223.519,319.478L224.913,317.396L226.798,314.821L232.044,308.673L235.323,305.036L237.536,303.06L240.815,299.596L242.209,297.799L248.193,296.621L248.849,294.946L249.996,293.144L250.816,292.336L250.898,289.224L249.832,285.419L248.93,284.108L248.275,283.17L248.685,282.294L249.34,282.044L250.16,281.919L251.144,281.043L250.98,280.041L248.439,277.596L247.373,275.713L245.652,270.871L242.209,265.824L241.143,264.181L240.979,262.6L241.471,261.08L240.979,259.115L239.75,256.576L239.996,256.322L239.832,253.206L240.733,252.505L242.127,252.059L244.012,252.251L245.652,252.696L247.701,254.16L248.275,253.906L251.636,251.231L255.16,247.148L256.144,244.846L257.046,243.758L260.079,243.182L262.702,242.926L264.341,242.99L268.522,242.606L270.981,242.157L273.03,241.452L277.621,241.132L284.752,241.645L289.425,241.645L292.621,242.029L300.409,244.206L303.278,244.59L304.671,245.742L307.212,246.189L311.885,247.339L315.983,247.914L318.77,247.659L320.328,247.978L323.197,253.078L323.853,253.651L325,253.778L327.377,253.333L330.738,253.524L332.788,254.605L332.46,257.592L333.034,258.036L333.935,257.909L335.083,256.195L335.984,254.415L336.64,253.842L340.083,255.051L341.641,254.86L343.116,253.524L344.018,253.269L346.477,254.224L349.51,254.923L351.969,254.987L353.526,255.686L354.592,258.861L355.576,259.495L356.477,259.685L357.953,256.893L359.182,255.75L360.986,254.987L362.133,254.605L362.953,253.651L364.019,252.633L364.921,252.569L365.74,252.951L366.56,254.287L367.872,257.338L369.429,260.446L370.495,261.523L373.282,260.573L375.249,259.622L378.692,259.432L383.282,258.798L386.807,257.909L389.02,258.036L390.414,259.051L392.463,260.89L392.955,263.612L395.66,265.509L397.791,265.824L398.529,263.865L399.759,262.536L399.349,260.636L399.103,258.29L398.201,256.067L397.545,253.715L398.693,250.339L399.922,247.339L400.578,245.742L402.628,242.734L404.677,240.619L407.71,237.152L410.005,235.994L411.972,236.509L413.12,237.023L416.071,234.965L421.235,234.836L425.58,235.094L425.989,235.158L428.121,236.252L430.334,237.152L431.891,237.216L433.695,236.959L435.908,235.801L437.384,234.643L439.187,228.775L439.843,227.935L440.826,227.483L442.466,227.418L445.663,228.517L449.269,229.486L451.401,229.357L457.057,226.189L460.254,225.736L464.024,226.448L467.631,226.513L470.418,226.06L472.385,227.16L474.681,229.55L476.812,233.098L479.025,239.592L485.501,246.956L485.665,248.361L485.091,249.318L481.894,250.211L479.189,250.658L479.107,251.932L479.845,253.269L481.074,255.305L481.238,257.846L481.156,260.193L481.73,262.22L482.714,263.106L482.878,264.118L481.648,265.382L481.32,266.14L481.812,266.582L487.632,266.835L490.501,268.097L492.714,269.169L493.78,269.295L496.239,268.602L499.026,268.097L500.666,268.034L501.322,268.854L501.895,271.06L502.879,273.199L503.781,273.828L505.338,273.765L506.322,273.828L506.896,274.645L506.24,275.902L506.404,277.22L507.142,278.913L507.961,282.67L508.781,283.795L509.273,285.232L509.273,286.917L508.617,288.351L508.125,289.473L508.617,292.025L510.338,294.883L511.65,295.566L512.716,298.109L514.601,298.915L517.388,296.807L519.519,295.69L522.224,296.311L524.683,296.683L526.323,298.171L527.552,300.153L528.946,301.267L530.421,300.71L533.372,301.267L534.766,302.874L536.078,303.801L537.881,302.503L539.274,300.834L544.521,299.162L547.8,298.729L548.701,298.419L550.587,297.179L552.554,296.373L554.439,296.621L556.161,299.1L558.046,300.834L558.538,303.616L560.833,307.38L566.407,312.487L568.62,314.084L570.096,313.777L570.916,313.348L571.243,312.856L571.571,310.335L572.309,309.412L573.457,309.351L577.801,312.487L580.096,312.856L582.31,312.918L585.261,315.312L588.457,317.458L590.917,317.641L592.966,316.845L594.277,316.354L595.179,317.151L595.917,318.928L597.228,320.335L598.704,320.763L600.835,320.824L604.606,323.574L608.131,326.319L610.262,326.502L612.147,325.648L613.787,325.465L614.934,326.136L615.262,327.355L614.443,328.938L614.443,331.249L616,333.436L616,335.62L615.59,337.559L614.688,339.314L612.557,341.792L610.59,344.086L607.639,345.051L605.917,346.016L606.409,347.702L607.475,349.267L610.016,350.53L612.803,351.431L613.213,352.452L612.721,352.992L610.918,353.412L608.377,352.932L607.557,353.832L606.327,355.331L605.59,357.966L605.016,360.418L607.721,361.076L609.36,362.091L609.852,364.12L610.426,366.325L610.59,368.349L609.688,369.3L609.606,370.311L610.016,370.846L611.246,371.024L612.147,371.499L612.229,372.567L610.508,374.94L608.868,379.438L607.967,381.86L608.049,384.456L607.065,385.929L605.344,386.047L599.196,386.282L593.95,386.164L591.654,385.811L588.048,385.575L586.244,386.223L583.949,390.341L582.146,391.985L579.195,393.452L575.916,393.862L574.112,395.62L573.457,398.254L573.375,400.651L573.129,401.818L572.391,402.869L572.145,403.627L572.309,404.443L573.047,404.734L573.948,405.084L573.948,405.667L573.621,406.424L572.555,407.238L572.145,408.518L572.227,409.855ZM431.236,440.732L434.351,442.388L431.154,441.931L424.104,440.389L420.989,438.961L420.169,437.359L419.76,435.183L421.481,437.474L422.711,438.503ZM467.221,444.27L468.615,442.616L468.697,440.218L472.058,440.618L477.058,443.928L479.353,444.498L481.566,444.099L484.517,445.409L486.731,448.54L488.37,448.199L492.141,448.199L494.518,450.984L494.682,454.275L498.043,456.314L499.272,456.144L499.764,457.22L505.174,465.465L507.715,468.505L509.683,469.742L511.978,469.91L516.322,467.323L518.208,466.929L522.306,467.942L523.782,466.197L525.913,465.296L528.618,465.183L531.733,465.915L535.094,467.211L533.7,470.135L532.307,472.438L531.733,474.962L530.995,477.819L527.225,479.105L523.29,478.938L519.027,479.776L517.552,478.658L516.568,477.651L514.683,476.643L512.224,476.083L510.011,476.755L507.387,480.615L502.797,483.239L501.24,486.25L496.649,485.581L492.796,486.139L487.14,488.867L482.878,494.754L478.205,498.411L474.435,499.573L470.91,499.185L468.615,498.079L463.942,494.255L464.27,492.868L464.926,492.146L465.746,490.201L467.631,482.904L467.385,480.503L466.32,476.811L462.631,473.897L459.68,474.401L457.958,473.672L451.811,468.673L448.532,468.336L444.843,469.348L443.531,468.617L442.466,466.873L449.761,460.726L456.975,455.635L460.09,455.125L464.352,452.743L468.861,449.165L468.205,446.378Z"></path>
    <text class="label label--ua" x="350" y="310">{t.ua}</text>

    <circle class="dot dot--ref" cx="397.3" cy="295.2" r="4"></circle>
    <text class="label label--ref" x="405" y="292">{t.kyiv}</text>

    <circle class="dot dot--ref" cx="500.3" cy="364.8" r="4"></circle>
    <text class="label label--ref" x="508" y="368">{t.dnipro}</text>

    <circle class="dot dot--accent" cx="490.3" cy="355.5" r="6"></circle>
    <circle class="dot dot--pulse" cx="490.3" cy="355.5" r="6"></circle>
    <text class="label label--accent" x="501" y="351">{t.petrykivka}</text>
  </svg>
</div>

<style>
  .petrykivka-map {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
  .petrykivka-map svg {
    width: 100%;
    height: auto;
    display: block;
  }
  .country {
    fill: none;
    stroke: rgba(40, 42, 43, 0.22);
    stroke-width: 1.1;
    stroke-linejoin: round;
  }
  .country--ua {
    fill: rgba(192, 57, 43, 0.08);
    stroke: rgba(192, 57, 43, 0.45);
    stroke-width: 1.6;
  }
  .label {
    font-family: inherit;
    fill: rgba(40, 42, 43, 0.45);
    text-anchor: middle;
  }
  .label--small { font-size: 13px; }
  .label--tiny { font-size: 9px; fill: rgba(40, 42, 43, 0.35); }
  .label--ua { font-size: 18px; font-weight: 600; fill: rgba(192, 57, 43, 0.55); }
  .label--ref { font-size: 11px; text-anchor: start; fill: rgba(40, 42, 43, 0.55); }
  .label--accent { font-size: 13px; font-weight: 700; text-anchor: start; fill: #c0392b; }
  .dot--ref { fill: rgba(40, 42, 43, 0.55); }
  .dot--accent { fill: #c0392b; }
  .dot--pulse {
    fill: none;
    stroke: #c0392b;
    stroke-width: 1.5;
    opacity: 0.6;
    transform-origin: 490.3px 355.5px;
    animation: map-pulse 2.5s ease-out infinite;
  }
  @keyframes map-pulse {
    0% { r: 6; opacity: 0.6; }
    100% { r: 18; opacity: 0; }
  }
  @media (prefers-reduced-motion: reduce) {
    .dot--pulse { animation: none; display: none; }
  }
</style>